/* grid index -----------------------------------------*/

#index-contenedor-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "uno" "dos" "tres" "cuatro";
}
#uno {
	grid-area: uno;
}
#dos {
	grid-area: dos;
}
#tres {
	grid-area: tres;
}
#cuatro {
	grid-area: cuatro;
}
@media (max-width: 991.98px) {
	.tamanoFondo {
		display: none;
	}
	.tamañoImagen {
		width: 300px;
		height: auto;
		margin: 15px;
	}
	.productos__articulo {
		@include p-m(5px,0px);
	}
	.encabezado ol {
		display: flex;
		flex-wrap: wrap;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.tamanoFondo {
		display: none;
	}
}
/* grid y media queries CONTACTO ----------------------------*/

#contacto-contenedor-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "one" "two" "three";
}
#one {
	grid-area: one;
}
#two {
	grid-area: two;
}
#three {
	grid-area: three;
}
@media (max-width: 991.98px) {
	.encabezado ol {
		display: flex;
		flex-wrap: wrap;
	}
	.contacto {
        @include p-m(20px,10px 0px 200px 0px);
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	#two {
		background-color: black;
	}
}

