@import "_commons";
@import "_medias";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* CLASES -------------------------------*/

$colorfooter: #1b1b1b;
$textXl:4em;


/*----------------------------------*/

body{
    background-color: black;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}
.scale:hover {
	transform: scaleX(0.9);
}
/* TAMAÑO DE IMAGENES --------------------*/

.logopag {
	width: 80px;
	height: auto;
}
.tamanoFondo {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 100px;
img{
    margin: 10px;
	width: 1300px;
}
}
.tamañoImagen {
	width: 450px;
	height: auto;
	margin: 30px;
}
/* PRODUCTOS ----------------------------------*/

.productos__articulo {
	background-color: black;
	margin: 100px 200px 100px 200px;
	padding: 10px;
	text-decoration: underline;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
/* FOOTER y extend---------------------------------------*/

.footer2 {
	background-color: $colorfooter;
	text-align: center;
}
.footer {
	@extend .footer2;
	bottom: 0;
	width: -webkit-fill-available;
	position: absolute;
}


/*promociones -----------------------------------*/

.SalePromociones {
	margin-left: 20px;
	display: flex;
	overflow: scroll;
	text-align: center;
}
.oferta {
	text-decoration: line-through;
}
/* contacto	----------------------------------------*/

.contacto {
	margin: 50px 180px 100px 180px;
	padding: 20px;
	display: flex;
	justify-content: center;
}
/*devoluciones--------------------------------------*/

.devoluciones {
	text-align: center;
    margin: 30px;
}
/* carrito -----------------------------------------*/

.carrito {
@extend .devoluciones; 
}
/*shadow--------------------*/
.btn-more{
	box-shadow:map-get($map:$shadow,$key:"sh3")
}




